@font-face{
    font-family: lexend_exa;
    src: url(font/LexendExa-Regular.ttf)
}
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
    font-family: hind;
    background-color: #57626B;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

#btnvl {
    position: absolute;
    width: 128px;
    height: 60px;
    left: 570px;
    top: 20px;
    
    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #F5E2CF;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: transparent;
}

#btnvl:hover {
    position: absolute;
    width: 128px;
    height: 60px;
    left: 570px;
    top: 20px;
    
    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #3B4954;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: #F5E2CF;
    border-radius: 20px;
}

#btnvl:active {
    position: absolute;
    width: 128px;
    height: 60px;
    left: 570px;
    top: 20px;
    
    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #3B4954;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: #F5E2CF;
    border-radius: 20px;
}

.nvloverlay {
position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 1.5s ease;
  background-color: #57626B;
}

#btauth {
    position: absolute;
    width: 146px;
    height: 60px;
    left: 753px;
    top: 20px;

    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #F5E2CF;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: transparent;
}

#btauth:hover {
    position: absolute;
    width: 146px;
    height: 60px;
    left: 753px;
    top: 20px;

    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #3B4954;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: #F5E2CF;
    border-radius: 20px;
}

#btilust {
    position: absolute;
    width: 204px;
    height: 60px;
    left: 959px;
    top: 20px;

    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #F5E2CF;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: transparent;
}

#btilust:hover {
    position: absolute;
    width: 204px;
    height: 60px;
    left: 959px;
    top: 20px;

    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #3B4954;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: #F5E2CF;
    border-radius: 20px;
}

#btrls {
    position: absolute;
    width: 165px;
    height: 60px;
    left: 1211px;
    top: 20px;

    font-size: 30px;
    font-weight: 500;
    padding: none;
    min-width: max-content;
    border: 0;
    outline: 0;
    color: #F5E2CF;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: absolute;
    background-color: transparent;
}

#btrls:hover {
    position: absolute;
    width: 165px;
    height: 60px;
    left: 1211px;
    top: 20px;

    font-size: 30px;
    font-weight: 500;
    padding: 0.1px 0.1px;
    min-width: 1px;
    border-radius: 20px;
    outline: 0;
    color: #3B4954;
    cursor: pointer;
    transition: all 0.15s ease-out;
    background-color: #F5E2CF;
}

#subtitle {
    position: absolute;
    width: 811px;
    height: 70px;
    left: 30px;
    top: 720px;

    padding-left: 20px;
    font-family: Lexend Exa;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;

    color: #F5E2CF;
}

.navbar {
    display: flex;
    flex-direction: columns;
    width: 740px;
    height: 100px;
    left: 0px;
    top: 0px;
    align-self: center;

}

.rectangle {
    height: 100px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #3B4954;
}

.vertline {
    position: absolute;
    width: 50%;
    height: calc(100% - 100px);
    left: 959px;
    top: 100px;

    border-left: 3px solid #FB9A96;
}

.horiline {
    position: absolute;
    width: 959px;
    height: 0px;
    left: 0px;
    top: 710px;

    border-top: 3px solid #FB9A96;
}

.gambar {
    position: absolute;
    width: 961px;
    height: 980px;
    left: 959px;
    top: 100px;
    background-color: white;

    animation:fading 4s infinite;
    filter: grayscale(30%);
}

@keyframes fading {
    0%{opacity:0}50%{opacity:1}100%{opacity:0}
}

#bgmenu {
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: -40px;
    top: calc(0% + 100px);
    opacity: 15%;
}

#title1 {
position: absolute;
width: 811px;
height: 123px;
left: 30px;
top: calc(50%);

font-family: Lexend Exa;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 120px;

color: #F95851;
}

#title2 {
    position: absolute;
width: 811px;
height: 122px;
left: 30px;
top: calc(60%);

font-family: Lexend Exa;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 120px;
display: flex;
align-items: center;

color: #F5E2CF;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-item-left {
    flex: 50%;
}
  
.flex-item-right {
    flex: 50%;
}
  
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 1;
    }
}